

<div class="body">
 <div class="banner-container">
    <img src="/assets/BannerJapon.jpg" alt="BannerJapon" class="banner" />
    <img src="/assets/atras.png" alt="atras" class="atras"/>


    <img src="/assets/rectangulo_blanco.png" alt="rectangulo" class="rectangulo-banner"/>

    <div class="titulo">
      <span>JAPÓN, ASIA</span>
    </div>
    
      

  </div>
  <div class="elipse">
    <span class="media">4.6/5</span>
  </div>

      <div class="ciudades-scroll">
        <div class="tarjetas-container">
            <div class="tarjeta">

              <!--TOKYO-->
              <img
                src="/assets/rectangulo.png"
                alt="rectangulo"
                class="rectangulo-tarjeta"
              />
              <img
                src="/assets/Tokyo.jpg"
                alt="Tokyo"
                class="imagenCiudad"
              />
              <span class="ciudad"><span>Tokyo</span></span>
              <span class="dias"><span>7 días</span></span>
              <span class="guardado" role="button"><i id="icon-guardar" class="fa-regular fa-bookmark" width="100%" height="100%"></i></span>
              <span class="precio"><span>179€</span></span>

               <img
                  src="/assets/estrella.png"
                  alt="estrella"
                  class="estrella"
                />
                <span class="valoracion"><span>4.8</span></span>


            </div>


            <!--KYOTO-->

            <div class="tarjeta">


              <img
                src="/assets/rectangulo.png"
                alt="rectangulo"
                class="rectangulo-tarjeta"
              />
              <img
                src="/assets/Kyoto.jpg"
                alt="KYoto"
                class="imagenCiudad"
              />
              <span class="ciudad"><span>Kioto</span></span>
              <span class="dias"><span>4 días</span></span>
              <span class="guardado" role="button"><i id="icon-guardar" class="fa-regular fa-bookmark" width="100%" height="100%"></i></span>
              <span class="precio"><span>165€</span></span>

                <img
                  src="/assets/estrella.png"
                  alt="estrella"
                  class="estrella"
                />
                <span class="valoracion"><span>4.6</span></span>


            </div>


            <!--NAGOYA-->
            <div class="tarjeta">


              <img
                src="/assets/rectangulo.png"
                alt="rectangulo"
                class="rectangulo-tarjeta"
              />
              <img
                src="/assets/Nagoya.jpg"
                alt="Nagoya"
                class="imagenCiudad"
              />
              <span class="ciudad"><span>Nagoya</span></span>
              <span class="dias"><span>5 días</span></span>
              <span class="guardado" role="button"><i id="icon-guardar" class="fa-regular fa-bookmark" width="100%" height="100%"></i></span>
              <span class="precio"><span>145€</span></span>

                <img
                  src="/assets/estrella.png"
                  alt="estrella"
                  class="estrella"
                />
                <span class="valoracion"><span>4.2</span></span>


            </div>

            <!--OSAKA-->

            <div class="tarjeta">


              <img
                src="/assets/rectangulo.png"
                alt="rectangulo"
                class="rectangulo-tarjeta"
              />
              <img
                src="/assets/Osaka.jpg"
                alt="Nagoya"
                class="imagenCiudad"
              />
              <span class="ciudad"><span>Osaka</span></span>
              <span class="dias"><span>8 días</span></span>
              <span class="guardado" role="button"><i id="icon-guardar" class="fa-regular fa-bookmark" width="100%" height="100%"></i></span>
              <span class="precio"><span>185€</span></span>

                <img
                  src="/assets/estrella.png"
                  alt="estrella"
                  class="estrella"
                />
                <span class="valoracion"><span>4.7</span></span>


            </div>
            <!--Kobe-->

            <div class="tarjeta">


              <img
                src="/assets/rectangulo.png"
                alt="rectangulo"
                class="rectangulo-tarjeta"
              />
              <img
                src="/assets/Kobe.jpg"
                alt="Kobe"
                class="imagenCiudad"
              />
              <span class="ciudad"><span>Kobe</span></span>
              <span class="dias"><span>7 días</span></span>
              <span class="guardado" role="button"><i id="icon-guardar" class="fa-regular fa-bookmark" width="100%" height="100%"></i></span>
              <span class="precio"><span>166€</span></span>

                <img
                  src="/assets/estrella.png"
                  alt="estrella"
                  class="estrella"
                />
                <span class="valoracion"><span>4.4</span></span>


            </div>


          </div>
      </div>

</div>


<app-barra-navegacion></app-barra-navegacion>
