<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="body"> 
  
      <img
        src="/assets/BannerJapon.jpg"
        alt="BannerJapon"
        class="banner"
      />
      <div class="botonAtras">
        
        <img
          src="/assets/atras.png"
          alt="atras"
          class="atras"
        />
        
      
      </div>
      <img
        src="/assets/rectangulo_blanco.png"
        alt="rectangulo"
        class="rectangulo-banner"
      />
     
      <img
        src="/assets/pin.png"
        alt="pin"
        class="pin"
      />
      <span class="titulo"><span>JAPÓN, ASIA</span></span>
      <div class="rectangulo-azul">
        <!--Un input que tenga un /5 al final-->
        <span class="texto-rectangulo-azul"><span>4.9/5</span></span>

      
      </div>
      <div class="labelLista">
        <span class="textoLista"><span>Lista de Tour</span></span>
      </div>
      <div class="ciudades-scroll">     
            <div class="tarjeta">
              
              <!--TOKYO-->
              <img
                src="/assets/rectangulo.png"
                alt="rectangulo"
                class="rectangulo-tarjeta"
              />
              <img
                src="/assets/Tokyo.jpg"
                alt="Tokyo"
                class="imagenPais"
              />
              <span class="pais"><span>Tokyo</span></span>
              <span class="dias"><span>7 días</span></span>
              <img
                src="/playground_assets/vector1901-vh0l.svg"
                alt="Vector1901"
                class="like"
              />
              <span class="precio"><span>179€</span></span>
              <div class="labelEstrella">
                <img
                  src="/assets/estrella.png"
                  alt="estrella"
                  class="estrella"
                />
                <span class="valoracion"><span>4.8</span></span>
              </div>
              
            </div>


            <!--KYOTO-->

            <div class="tarjeta">
              
              
              <img
                src="/assets/rectangulo.png"
                alt="rectangulo"
                class="rectangulo-tarjeta"
              />
              <img
                src="/assets/Kyoto.jpg"
                alt="KYoto"
                class="imagenPais"
              />
              <span class="pais"><span>Kioto</span></span>
              <span class="dias"><span>4 días</span></span>
              <img
                src="/playground_assets/vector1901-vh0l.svg"
                alt="like"
                class="like"
              />
              <span class="precio"><span>165€</span></span>
              <div class="labelEstrella">
                <img
                  src="/assets/estrella.png"
                  alt="estrella"
                  class="estrella"
                />
                <span class="valoracion"><span>4.6</span></span>
              </div>
              
            </div>
            
      
            <!--NAGOYA-->
            <div class="tarjeta">
              
              
              <img
                src="/assets/rectangulo.png"
                alt="rectangulo"
                class="rectangulo-tarjeta"
              />
              <img
                src="/assets/Nagoya.jpg"
                alt="Nagoya"
                class="imagenPais"
              />
              <span class="pais"><span>Nagoya</span></span>
              <span class="dias"><span>5 días</span></span>
              <img
                src="/playground_assets/vector1901-vh0l.svg"
                alt="like"
                class="like"
              />
              <span class="precio"><span>145€</span></span>
              <div class="labelEstrella">
                <img
                  src="/assets/estrella.png"
                  alt="estrella"
                  class="estrella"
                />
                <span class="valoracion"><span>4.2</span></span>
              </div>
              
            </div>

            <!--OSAKA-->

            <div class="tarjeta">
              
              
              <img
                src="/assets/rectangulo.png"
                alt="rectangulo"
                class="rectangulo-tarjeta"
              />
              <img
                src="/assets/Osaka.jpg"
                alt="Nagoya"
                class="imagenPais"
              />
              <span class="pais"><span>Osaka</span></span>
              <span class="dias"><span>8 días</span></span>
              <img
                src="/playground_assets/vector1901-vh0l.svg"
                alt="like"
                class="like"
              />
              <span class="precio"><span>185€</span></span>
              <div class="labelEstrella">
                <img
                  src="/assets/estrella.png"
                  alt="estrella"
                  class="estrella"
                />
                <span class="valoracion"><span>4.7</span></span>
              </div>
              
            </div>

            
      </div>
    
</div>