



<img class = "atras" src="assets/atras.png" alt="boton_atras">
<form class="Feedbackform">
    <h1 class="ajustes-titulo">Feedback</h1>
    <div class="rectangulo-container">
        <div class="rectangulo">Envíanos tus sugerencias o problemas para
            seguir mejorando</div>
    </div> 
    <div class="inputs">
        <div class="inputdiv">
            <label>Correo : </label><br>  
            <input class="campoinput" type="text" name="username">
        </div>
        <div class="inputdiv">
            <label>Asunto : </label><br>  
            <input class="campoinput" type="text" name="username">
        </div>
        <div class="inputdiv">
            <label>Cuerpo del mensaje : </label><br>  
            <input class="campoinput2" type="text" name="username">
        </div>
            
    </div>


<div class="enviar-btn-div">
    <button class="enviar-btn">
        <img src="assets/enviar.png" alt="Enviar">
    </button>
</div>  
</form>
