/* BARRA DE NAVEGACION */

.toolbarNav {
  position: fixed;
  bottom: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 50px;
  background-color: white;
  border-top: 2px solid black;
}

.lista-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100%;
  list-style: none;
  padding: 0;
}

.nav-item {
  list-style: none;
  text-decoration: none;
  width: inherit;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.fa-solid {
  font-size: 25px;
}


.nav-item:hover .fa-solid,
.nav-item:active .fa-solid,
.nav-item:focus .fa-solid {
  color: #1F5EFD;
}

.nav-item.active {
  color: #1F5EFD;
}
