.atras {
    text-align: left;
    margin-top: 10%;
    margin-left: 10%;
}

.ajustes-titulo {
  font-family: 'Patua One', cursive;
  font-weight: bold;
  color: #0846E7;
  font-size: 40px;
}

.ajustesform {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    margin-top: 10%;
}

.rectangulo {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Patua One' sans-serif;

    width: 100%;
    margin-bottom: 3%;
    box-sizing: border-box;
    background: rgba(8, 70, 231, 0.42);
    color: white;
}

.rectangulo-container {
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    width: 80%;
    gap: 10px;
}
