
<img class = "atras" src="assets/atras.png" alt="boton_atras" [routerLink]="['/configuracion']">

<form class="ajustesform">
    <h1 class="ajustes-titulo">Privacidad</h1>



    <div class="rectangulo-container">
        <div class="rectangulo">Cookies and Tracking</div>
        <div class="rectangulo">Política y Privacidad</div>
        <div class="rectangulo">Datos personales</div>
        <div class="rectangulo">Datos de localización</div>
        <div class="rectangulo">Borrado de datos</div>
    </div>

</form>
