
<link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">
<div>
    <span class="atras" [routerLink]="['/login']">
    <img src="assets/atras.png" alt="boton_atras">
    </span>
</div>

<form class="recuperarform">
    <span class="gotrip-logo">
    <img src="assets/recuperar.png" alt="logo">
    </span>
    <div class="textmiddle">
        <span class="title">
            Introduce Correo
        </span><br>

        <span class="body">
            Y te enviaremos un link para<br>
            restablecer tu contraseña
        </span>

    </div>
    <div class="inputs">
        <div class="usernameinputdiv">
            <label>Correo : </label><br>
            <input class="usernameinput" type="text" name="username">
        </div>

    </div>


    <div class="send-btn-div">
    <button class="send-btn">
    Enviar
    </button>
    </div>

</form>
