
<link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">
<div>
    <span class="atras" [routerLink]="['/login']">
    <img src="assets/atras.png" alt="boton_atras">
    </span>
</div>

<form class="recuperarform">
    <span class="gotrip-logo">
    <img src="assets/recuperar.png" alt="logo">
    </span>
    <div class="textmiddle">
        <span class="title">
            Introduce Correo
        </span><br>

        <span class="body">
            Y te enviaremos un link para<br>
            restablecer tu contraseña
        </span>

    </div>
    <div class="inputs">
        <div class="usernameinputdiv">
            <label>Correo : </label><br>
            <input class="usernameinput" id="correo-recuperar" type="text" name="username">
        </div>
      <div class="contenedor-error">
        <small class="error-message" *ngIf="correoVacio">Error al enviar el correo</small>
        <small class="send-message" *ngIf="enviadoCorrecto">Se ha enviado un correo a su cuenta para recuperar su contraseña</small>
      </div>

    </div>


    <div class="send-btn-div">
    <button class="send-btn" (click)="mandarCorreo()">
    Enviar
    </button>
    </div>

</form>
