
<span class="atras">
    <img src="assets/atras.png" alt="boton_atras">
</span>

<div class="registerpage">
        
    <div class = "registrolabel">
        <label>Registrarse </label>
    </div>
    
    <div class = "registerlogo">
        <img src="assets/rectangle.png" alt="boton_atras">
    </div>
    
    
    <div class = "inputs">
        <div class = "correoinputdiv">
            <label>Correo : </label><br>  
            <input class="usernameinput" type="text" name="username">
        </div>
    
        <div class = "passwordinputdiv">
            <label>Contraseña : </label><br>  
            <input class="passwordinput" type="text" name="username">
        </div>
    
        <div class = "confirmpasswordinputdiv">
            <label>Confirmar Contraseña : </label><br>  
            <input class="confirmpasswordinput" type="text" name="username">
        </div>
    
    
        <div class = "register-btndiv">
        
            <button class="register-btn">Registrar</button>
    
        </div>


        <div class = "login-link">
            <a class ="login-link" href="url">¿Ya tienes cuenta?</a>
        </div>
    

    </div>
</div>