<span class="atras">
    <img src="assets/atras.png" alt="boton_atras">
</span>
<form class="ajustesform">
    <h1 class="ajustes-titulo">Ajustes</h1>
    

    
    <div class="rectangulo-container">
        <div class="rectangulo">Accesibilidad</div>
        <div class="rectangulo">Cuenta</div>
        <div class="rectangulo">Privacidad</div>
        <div class="rectangulo">Notificaciones</div>
        <div class="rectangulo">Ayuda</div>
    </div>
    
    <div class="cerrarSesion-btn-div">
        <button class="cerrarSesion-btn">
            <img src="assets/cerrar-sesion.png" alt="CerrarSesion">
        </button>
    </div>
</form>
