
    <link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">
    <span class="atras" [routerLink]="['']">
        <img src="assets/atras.png" alt="boton_atras">
    </span>
    <form class="loginform">
        <span class="gotrip-logo">
        <img src="assets/GoTrip-logo.png" alt="logo">
        </span>
        <div class="inputs">
            <div class="usernameinputdiv">
                <label>Correo : </label><br>
                <input class="usernameinput" type="text" name="username"[(ngModel)]="username">
                </div>

                <div class="passwordinputdiv">
                <label>Contraseña : </label><br>
                <input class="passwordinput" type="text" name="password"[(ngModel)]="password">
                <a class ="forgot-link" [routerLink]="['/recuperar']">¿Olvidó su contraseña?</a>
            </div>
        </div>


        <div class="login-btn-div">
            <button class="login-btn" [routerLink]="['/perfil']" (click)="onLogin()">Login</button>
        </div>
        <a class ="register-link" [routerLink]="['/registro']">Registrarse</a>
    </form>
