<link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">
<div class="all">
    <div>
        <div class="atras">
            <img src="assets/atras.png" alt="boton_atras">
        </div>

    </div>

    <form class="loginform" (submit)="onLogin($event)">

        <span class="gotrip-logo">
            <img src="assets/GoTrip-logo.png" alt="logo">
        </span>
        <div class="inputs">
            <div class="usernameinputdiv">
                <label>Correo :</label><br>
                <input class="usernameinput" type="text" name="username" [(ngModel)]="username" [ngClass]="{ 'invalid-input': isInvalidUsername }" (input)="onUsernameChange()">
                <small class="error-message" *ngIf="isInvalidUsername">Invalid username</small>
            </div>
            <div class="passwordinputdiv">
                <label>Contraseña :</label><br>
                <input class="passwordinput" type="password" name="password" [(ngModel)]="password" [ngClass]="{ 'invalid-input': isInvalidPassword }" (input)="onPasswordChange()">
                <small class="error-message" *ngIf="isInvalidPassword">Invalid password</small>
                <a class="forgot-link" href="url">¿Olvidó su contraseña?</a>
            </div>
        </div>
        <div class="login-btn-div">
            <button class="login-btn" type="submit" [disabled]="isInvalidUsername || isInvalidPassword">Login</button>
        </div>
        <a class ="register-link" [routerLink]="['/registro']">Registrarse</a>
    </form>


</div>
