

    <span class="atras">
        <img src="assets/atras.png" alt="boton_atras">
    </span>
    <form class="loginform">
        <span class="gotrip-logo">
        <img src="assets/GoTrip-logo.png" alt="logo">
        </span>
        <div class="inputs">
            <div class="usernameinputdiv">
                <label>Correo : </label><br>
                <input class="usernameinput" type="text" name="username">
                </div>

                <div class="passwordinputdiv">
                <label>Contraseña : </label><br>
                <input class="passwordinput" type="text" name="password">
                <a class ="forgot-link" href="url">¿Olvidó su contraseña?</a>
            </div>
        </div>


        <div class="login-btn-div">
        <button class="login-btn" [routerLink]="['/perfil']">
        Login
        </button>
        </div>
        <a class ="register-link" href="url">Registrarse</a>
    </form>

