<section class="seccion-favoritas">
  <div class="contenedor-favoritas">
    <h3>Lista de Guardados</h3>
    <div class="scroll-content">
      <div class="card" *ngFor="let guardadoLugar of lugaresVisitar" (click)="irDescripcion(guardadoLugar['pais'], guardadoLugar['lugar']['nombreCiudad'])">
        <button class="btn-guardar"><span><i class="fa-solid fa-bookmark" style="color:#1F5EFD;"></i></span></button>
        <img class="card-img-top"
             [src]= "guardadoLugar['lugar']['imagenPortada']"
             alt="Foto de la estatua de La Libertad">
        <div class="card-body">
          <span class="nombre-pais">{{ guardadoLugar['lugar']["nombreCiudad"] }}, {{ guardadoLugar["pais"] }} </span>
          <span class="rating-pais">
            <span class="fa fa-star s1">{{ guardadoLugar['lugar']["valoracion"]}}</span>
          </span>
        </div>
      </div>

    </div>
  </div>
</section>



<app-barra-navegacion></app-barra-navegacion>
