<img class="atras" src="assets/atras.png" alt="boton_atras" [routerLink]="['/configuracion']">
<form class="Editarform">

    <div class="user">
        <div class="profile">
            <img src="https://i.imgur.com/JgYD2nQ.jpg">
            <img class="masimagen" src="assets/masimagen.png" alt="masimagen">
          </div>
        </div>

    <div class="inputs">
  <div class="inputdiv">
    <label>Nombre : </label><br>
    <div class="input-with-icon">
      <input class="campoinput" type="text" name="nombre" placeholder="Usuario">
      <img class="lapiz" src="assets/lapiz.png" alt="lapiz">
    </div>
  </div>
  <div class="inputdiv">
    <label>Correo : </label><br>
    <div class="input-with-icon">
      <input class="campoinput" type="text" name="correo" placeholder="Usuario@gmail.com">
      <img class="lapiz" src="assets/lapiz.png" alt="lapiz">
    </div>
  </div>
  <div class="inputdiv">
    <label>Contraseña : </label><br>
    <div class="input-with-icon">
      <input class="campoinput" type="password" name="contraseña" placeholder="**********">
      <img class="lapiz" src="assets/lapiz.png" alt="lapiz">
    </div>
  </div>
  <div class="inputdiv">
    <label>Tarjeta: </label><br>
    <div class="input-with-icon">
      <input class="campoinput" type="text" name="tarjeta" placeholder="0123-4567-8900-0000">
      <img class="fotoTarjeta" src="assets/mastercard.png" alt="tarjeta">
    </div>
  </div>
</div>
<div class="guardar-btn-div">
    <button class="guardar-btn">
        <label>Guardar Cambios </label>
    </button>
</div>
</form>
