@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Lato:wght@300&family=Oswald&family=Source+Sans+Pro:wght@600&display=swap');


$gotrip-color: #1F5EFD;


.seccion-buscador {
  position: sticky;
  margin-top: 20px;
}


.form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control {
  background: rgba(8, 70, 231, 0.73);
  border-radius: 10px;
  text-indent: 33px;
  color: white;
}

.form-control[type=text] {
  font-family: 'Viga', sans-serif;
  width: 100%;
  padding: 12px 35px;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

.span-eliminar {
  margin-left: 10px;
}

::placeholder {
  color: white;
}

.fa-solid.fa-search {
  position: absolute;
  left: 10px;
  color: #ffffff;
}

.span-eliminar {
  position: absolute;
  right: 10px;
  padding-left: 10px;
  border-left: 1px solid white;
}

.fa.fa-x {
  color: #ffffff;
}

.fa.fa-x:hover {
  cursor: pointer;
}



.contenedor-buscados {
  margin-top: 20px;
}

.titulo{
  font-family: 'Patua one', cursive;
  font-weight: bold;
  color: #0846E7;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  width: 100%;
}

.col-md-4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.btn-busqueda {

  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(8, 70, 231, 0.5);
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.35);
}

.btn-busqueda:active {
  background-color: rgba(8, 70, 231, 0.73);
  color: white;

}


.contenedor-error {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  color: red;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}



.seccion-tarjetas {
  margin-top: 25px;
  height: 100%;
}

.seccion-tarjetas h3 {
  text-align: center;
}

.scroll-content {
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: scroll;
  padding-bottom: 50px;
}

.card {
  margin: 20px;
  height: 300px;
  transform: translateZ(0);
  overflow: hidden;
  position: relative;
  --blur: 2px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}


.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.card-body {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(var(--blur));

}

.bandera-pais img {
  width:30px;
  height:30px;
  border-radius:50%;
  object-fit: cover;
}

.nombre-pais {
  font-family: 'Viga', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.fa-solid {
  color: yellow;
}


.contenedor-banner {
  width: 100%;
  padding: 15px;
}

.banner {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  background-color: #1F5EFD;
}

.banner-img {
  width: 100%;
  height: 100%;
}

.banner-img img {
  width: 80%;
  object-fit: cover;
  border-radius: 0 2em 2em 0 / 0 3em 3em 0;
  box-shadow: 3px 5px 1px 3px darken(#01123d, 20%);
}

.banner-texto {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  h4 {
    font-size: 12px;
    color: white;
    font-weight: bold;
    text-align: center;
  }

}
