<section class="seccion-buscador">
  <div class="container">
    <div class="row height d-flex justify-content-center align-items-center">
      <div class="col-md-6">
        <div class="form">
          <i class="fa fa-search"></i>
          <input type="text" class="form-control form-input" placeholder="Busca tu lugar..." style="color: white;">
          <span class="left-pan"><i class="fa-solid fa-x" style="color: #ffffff;"></i></span>
        </div>

      </div>

    </div>

  </div>

</section>


<div class="toolbarNav">
  <ul class="lista-toolbar">
    <li class="nav-item">
      <a class="nav-link"><span><i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i></span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link"><span><i class="fa-solid fa-house" style="color: #000000;"></i></span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link"><span><i class="fa-solid fa-circle-user" style="color: #000000;"></i></span></a>
    </li>
  </ul>
</div>


