$gotrip-color: #1F5EFD;


.seccion-buscador {
  position: sticky;
  margin-top: 20px;
}


.form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control {
  background: rgba(8, 70, 231, 0.73);
  border-radius: 10px;
  text-indent: 33px;
  color: white;
}

.form-control[type=text] {

  width: 100%;
  padding: 12px 35px;
  box-sizing: border-box;
  border: 2px solid green;
}

.span-eliminar {
  margin-left: 10px;
}

::placeholder {
  color: white;
}

.fa-solid.fa-search {
  position: absolute;
  left: 10px;
  color: #ffffff;
}

.span-eliminar {
  position: absolute;
  right: 10px;
  padding-left: 10px;
  border-left: 1px solid white;
}

.fa.fa-x {
  color: #ffffff;
}

.fa.fa-x:hover {
  cursor: pointer;
}



.contenedor-buscados {
  margin-top: 20px;
}

.col-md-4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.btn-busqueda {
  background: rgba(8, 70, 231, 0.42);
  border-radius: 10px;
  width: 80px;
  height: 30px
}





.seccion-tarjetas {
  margin: 40px 25px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: scroll;
}




/* BARRA DE NAVEGACION */

.toolbarNav {
  position: fixed;
  bottom: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 50px;
  background-color: white;
  border-top: 2px solid black;
}

.lista-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100%;
  list-style: none;
  padding: 0;
}

.nav-item {
  list-style: none;
  text-decoration: none;
  width: inherit;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.fa-solid {
  font-size: 25px;
}

.nav-item:hover .fa-solid,
  .nav-item:active .fa-solid,
  .nav-item:focus .fa-solid {
  color: #1F5EFD;
}

.nav-item.active {
  color: #1F5EFD;
}
