<div class="container">

  <div class="background">

   <div class="upper">

     <img src="/assets/landscape1.jpg" >

   </div>

   <div class="user">

     <div class="profile">

       <img src="https://i.imgur.com/JgYD2nQ.jpg">

     </div>

   </div>
   
   <div class ="content">
    <div class="tab-links-div">
      <div class="tab-links">
        <a class="tab-link" href="#scrollWrapper1" (click)="scrollToWrapper(1)">Guardados</a>
        <a class="tab-link" href="#scrollWrapper2" (click)="scrollToWrapper(2)">Visitados</a>
        <!-- Add more tab links as needed -->
      </div>
    </div>
  

    <div class="scrolling-wrapper" id="scrollWrapper1" [ngClass]="{'hidden': activeWrapperIndex !== 1}">

      <div class="card" style="background-image: url('assets/Kyoto.jpg')"> 
      </div>
      <div class="card" style="background-image: url('assets/Kyoto.jpg')">
      </div>
      <div class="card" style="background-image: url('assets/Kyoto.jpg')">
      </div>
      <div class="card" style="background-image: url('assets/Kyoto.jpg')">
      </div>
      <div class="card" style="background-image: url('assets/Kyoto.jpg')">
      </div>

    </div>

    <div class="scrolling-wrapper" id="scrollWrapper2" [ngClass]="{'hidden': activeWrapperIndex !== 2}">

      <div class="card" style="background-image: url('assets/Osaka.jpg')"> 
      </div>
      <div class="card" style="background-image: url('assets/Osaka.jpg')">
      </div>
      <div class="card" style="background-image: url('assets/Osaka.jpg')">
      </div>
      <div class="card" style="background-image: url('assets/Osaka.jpg')">
      </div>
      <div class="card" style="background-image: url('assets/Osaka.jpg')">
      </div>

    </div>

   </div>

   </div>

  </div>


<app-barra-navegacion></app-barra-navegacion>

