<link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">

<div class="container">

  <div class="background">
    <div class="settings">
      <img src="assets/gear.png" alt="boton_settings" [routerLink]="['/configuracion']">
    </div>
   <div class="upper">


     <img src="/assets/landscape1.jpg" >

   </div>

   <div class="user">

     <div class="profile">

       <img src="https://i.imgur.com/JgYD2nQ.jpg">

     </div>

   </div>
   <div class="profilename">
    <span class = "name">Nombre Usuario</span>
   </div>

   <div class ="content">
    <div class="tab-links-div">
      <div class="tab-links">
        <a class="tab-link" href="#scrollWrapper1"  [class.active]="activeWrapperIndex === 1" (click)="scrollToWrapper(1)">Reservas</a>
        <a class="tab-link" href="#scrollWrapper2" [class.active]="activeWrapperIndex === 2" (click)="scrollToWrapper(2)">Visitados</a>
        <!-- Add more tab links as needed -->
      </div>
    </div>

    <div class="scrolling-wrapper" id="scrollWrapper1" [ngClass]="{'hidden': activeWrapperIndex !== 1}">
      <div class="card" *ngFor="let guardadoLugar of lugaresAVisitar" (click)="irDescripcion(guardadoLugar['pais'], guardadoLugar['lugar']['nombreCiudad'])" [style.background-image]="'url(' + guardadoLugar['lugar']['imagenPortada'] + ')'" [style.background-size]="'cover'">
        <span class="nombre-pais">{{ guardadoLugar['lugar']["nombreCiudad"] }}, {{ guardadoLugar["pais"] }} </span>
      </div>

    </div>

    <div class="scrolling-wrapper" id="scrollWrapper2" [ngClass]="{'hidden': activeWrapperIndex !== 2}">

      <div class="card" id="card1" style="background-image: url('https://youmatter.world/app/uploads/sites/2/2019/11/travel-world.jpg')">
        <div class="rating-bar" (click)="onStarClick($event, 1)">
          <span class="star"></span>
          <span class="star"></span>
          <span class="star"></span>
          <span class="star"></span>
          <span class="star"></span>
        </div>
      </div>
      <div class="card" id="card2" style="background-image: url('assets/Osaka.jpg')">
        <div class="rating-bar" (click)="onStarClick($event,2)">
          <span class="star"></span>
          <span class="star"></span>
          <span class="star"></span>
          <span class="star"></span>
          <span class="star"></span>
        </div>
      </div>
      <div class="card"  id="card3" style="background-image: url('https://img.delicious.com.au/WIXeICQZ/del/2018/12/istanbul-turkey-97382-2.jpg')">
        <div class="rating-bar" (click)="onStarClick($event,3)">
          <span class="star"></span>
          <span class="star"></span>
          <span class="star"></span>
          <span class="star"></span>
          <span class="star"></span>
        </div>
      </div>
      <div class="card" id="card4" style="background-image: url('https://img.delicious.com.au/DGZCHR1s/del/2018/12/paris-france-97370-2.jpg')">
        <div class="rating-bar" (click)="onStarClick($event,4)">
          <span class="star"></span>
          <span class="star"></span>
          <span class="star"></span>
          <span class="star"></span>
          <span class="star"></span>
        </div>
      </div>
      <div class="card" id="card5" style="background-image: url('https://www.ourescapeclause.com/wp-content/uploads/2020/05/shutterstock_134874083-scaled.jpg')">
        <div class="rating-bar" (click)="onStarClick($event,5)">
          <span class="star"></span>
          <span class="star"></span>
          <span class="star"></span>
          <span class="star"></span>
          <span class="star"></span>
        </div>
      </div>

    </div>

   </div>

   </div>

  </div>


<app-barra-navegacion></app-barra-navegacion>
