<section class="imagen-fondo" id="background-imagen">
  <div class="contenedor-atras">
    <span class="atras">
        <img src="assets/atras.png" alt="boton_atras">
    </span>
  </div>

  <div class="contenedor-informacion">
    <div class="card-informacion">
      <div class="titulo-pais">
        <h3>Tokyo</h3>
      </div>
      <div class="scroll-imagenes">
        <div class="imagenes-container">
          <img id="imagenes-ciudad" *ngFor="let image of images" [src]="image.path" (click)="cambiarFondo(image.path)">
        </div>
      </div>
      <div class="titulo-sitio">
        <h4>Tokyo Sky Tree</h4>
      </div>
      <div class="descripcion-sitio">
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua.</p>
      </div>
    </div>
  </div>


</section>

