


<section class="imagen-fondo" id="background-imagen">
  <div class="contenedor-informacion">
    <div class="card-informacion">
      <div class="titulo-pais">
        <h3>{{ pais }}</h3>
      </div>
      <div class="scroll-imagenes">
        <div class="imagenes-container">
          <img id="imagenes-ciudad" *ngFor="let image of images" [src]="image" (click)="cambiarFondo(image)">
        </div>
      </div>
      <div class="titulo-sitio">
        <h4 id="titulo">{{ tituloSitio[0] }}</h4>
      </div>
      <div class="descripcion-sitio">
        <p id="descripcion">{{ descripcionSitio[0] }}</p>
      </div>
    </div>
  </div>


</section>


<div class="contenedor-atras">
    <span class="atras" role="button" (click)="volverDescripcion(pais, ciudad)">
        <img src="assets/atras.png" alt="boton_atras">
    </span>
</div>
